@import './colors';
@import './bootstrap-imports';


.history_container {
  width: 100% !important;
}

.patient_title_div {}

.patient_title {
  color: $primary;
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    margin-left: .5em;
    display: inline-block;
    width: 0.8em;
    border: .1em solid $secondary;
    height: 0.8em;
    border-radius: .15em;
    transform: rotate(45deg) !important;
  }
}

.patient_history_div {}

.patient_description_div {
  margin-top: 2em !important;
}

.description {}

.description_text{
  &::before{
    content: '';
    display: inline-block;
    margin-left: .5em;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    color: $secondary;
    background-color: $secondary;
  }
}

.description_textarea {
  width: 100% !important;
  height: 6em !important;
  resize: none;

  @include media-breakpoint-up(md) {
    height: auto !important;
  }
}

.mobile_description_title{}

.submit_btn_div {}

.submit_btn {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 25% !important;
  }
}